<h1>{{city}}</h1>
<h1>Nhiệt độ:{{temp}}<sup>o</sup>C</h1>
<h1>Độ ẩm:{{hump}}%</h1>
<h1>Áp suất:{{press}}</h1>
<button (click)="hanoi()" class="btn btn-primary m-2">Hanoi</button>
<button (click)="tphcm()" class="btn btn-primary m-2">TPHCM</button>
<button (click)="london()" class="btn btn-primary m-2">London</button>
<button (click)="newyork()" class="btn btn-primary m-2">Newyork</button>
<button (click)="tokyo()" class="btn btn-primary m-2">Tokyo</button>
<button (click)="berlin()" class="btn btn-primary m-2">Berlin</button>


